.header__logo {
  opacity: 1;
}

@media screen and (max-width: 950px) {
  .header__logo {
    margin: 0 27px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    width: 104px;
    margin: 0;
  }
}
