.popup__save {
  margin: 18px 36px 37px;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  min-height: 50px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s;
}

.popup__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .popup__save {
    margin: 15px 22px 25px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}
